@import 'reset';
@import 'base';
@import 'palette';
@import 'fonts';
@import 'media-queries';
// content
@import 'components/header/index';
@import 'components/slider/index';
@import 'components/about/index';
