.slider {
    width: 100%;
    height: 760px;
    background-color: $color-4;

    .wrap {
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        text-align: center;

        .content {
            height: 100%;
            padding-top: 241px;

            .text {
                margin-bottom: 44px;
                padding-left: 38px;
                font-family: $ral;

                & .head-ral-e-lgh {
                    color: $color-2;
                    font-family: $ral;
                    font-size: 62px;
                    font-weight: 200;
                }

                & .head-mon {
                    margin-bottom: 20px;
                    color: $color-2;
                    font-family: $mon;
                    font-size: 74px;
                    font-weight: 700;
                }

                & .head-ral-lgh {
                    color: $color-2;
                    font-family: $ral;
                    font-size: 20px;
                    font-weight: 300;
                    word-spacing: -.7px;
                }
            }

            .btn {
                display: flex;
                position: relative;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 144px;
                height: 44px;
                margin: 0 auto;
                transform: translateX(21px);
                background-color: $color-3;
                color: $color-2;
                font-family: $ral;
                font-size: 13px;
                font-weight: 700;
                text-align: center;

                &::before {
                    content: '';
                    display: block;
                    position: absolute;
                    width: 135px;
                    height: 35px;
                    border: 1px solid $color-2;
                }
            }
        }

        .buttons {
            display: flex;
            position: absolute;
            top: 300px;
            justify-content: space-between;
            width: 100%;
            padding: 0 24px 0 40px;

            .left::before {
                content: '';
                display: block;
                width: 23px;
                height: 37px;
                transform: scaleX(-1);
                background-image: url(../../../images/slider/arrow.png);
            }

            .right::before {
                content: '';
                display: block;
                width: 23px;
                height: 37px;
                background-image: url(../../../images/slider/arrow.png);
            }
        }
    }
}
