.slider {
    width: 100%;
    height: 212px;
    background-color: $color-4;

    .wrap {
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        text-align: center;

        .content {
            padding-top: 48px;

            .text {
                margin-bottom: 0;
                padding-left: 0;
                font-family: $ral;

                & .head-ral-e-lgh {
                    color: $color-2;
                    font-family: $ral;
                    font-size: 25px;
                    font-weight: 200;
                }

                & .head-mon {
                    margin-bottom: 8px;
                    color: $color-2;
                    font-family: $mon;
                    font-size: 30px;
                    font-weight: 700;
                }

                & .head-ral-lgh {
                    margin-bottom: 7px;
                    padding-left: 18px;
                    color: $color-2;
                    font-family: $ral;
                    font-size: 9px;
                    font-weight: 300;
                }
            }

            .btn {
                width: 64px;
                height: 19px;
                transform: translateX(0);
                font-size: 7px;

                &::before {
                    content: '';
                    display: block;
                    position: absolute;
                    width: 55px;
                    height: 10px;
                    border: 1px solid $color-2;
                }
            }
        }

        .buttons {
            display: none;
        }
    }
}
