.slider {
    width: 100%;
    height: 760px;
    background-color: $color-4;

    .wrap {
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        text-align: center;

        .content {

            .buttons {
                display: none;
            }
        }
    }
}
