.about {
    padding-top: 116px;

    .wrap {
        display: flex;
        flex-direction: column;

        & .head {
            margin: 0 auto;
            padding-bottom: 96px;

            h2 {
                margin-bottom: 13px;
                transform: translateX(10px);
                font-family: $ral;
                font-size: 31px;
                font-weight: 600;

                span.green {
                    color: $color-3;
                }
            }

            & .icon {
                position: relative;
                width: 16px;
                height: 17px;
                margin: 0 auto;
                transform: translateX(10px);
                background-image: url(../../../images/about/Speak-Icon.png);
                background-size: cover;
            }

            & .icon::after {
                content: '';
                display: inline-block;
                position: absolute;
                right: -44px;
                bottom: 6px;
                width: 37px;
                height: 1.1px;
                background-color: $color-5;
            }

            & .icon::before {
                content: '';
                display: inline-block;
                position: absolute;
                bottom: 6px;
                left: -48px;
                width: 37px;
                height: 1.1px;
                background-color: $color-5;
            }
        }

        & .content-tablet-mobile {
            display: none;
        }

        & .content {
            display: flex;
            justify-content: center;

            .img {
                position: relative;
                width: 510px;
                height: 414px;
                margin-right: 56px;

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            & .info {
                width: 595px;

                h1 {
                    margin-bottom: 23px;
                    margin-left: 36px;
                    font-family: $ral;
                    font-size: 31px;
                    font-weight: 600;
                    word-spacing: -4.8px;
                }

                & > p {
                    width: 572.2px;
                    margin-bottom: 47px;
                    margin-left: 36px;
                    font-family: $sans;
                    font-size: 14px;
                    line-height: 27px;
                }

                & .list {
                    display: grid;
                    grid-column-gap: 34px;
                    grid-template-columns: 275px 275px;
                    margin-left: 38px;

                    & .card {
                        width: 275.5px;
                        height: 89.71px;
                        margin-bottom: 35px;
                        font-family: $sans;

                        p {
                            margin-bottom: 47px;
                            margin-left: 36px;
                            padding-top: 10px;
                            font-family: $sans;
                            font-size: 14px;
                            letter-spacing: -.5px;
                            line-height: 22px;
                        }

                        h2 {
                            padding-top: 2px;
                            color: $color-7;
                            font-family: $ral;
                            font-size: 18px;
                            font-weight: 700;
                            letter-spacing: -.4px;
                        }

                        &::before {
                            content: '';
                            display: block;
                            width: 63px;
                            height: 63px;
                            margin-right: 27px;
                            float: left;
                            border-radius: 50%;
                            background-color: $color-6;
                            // background-image: url(../../../images/about/feat-icon.png);
                            background-repeat: no-repeat;
                            background-position: center;
                        }

                        &.feat::before {
                            background-image: url(../../../images/about/feat-icon.png);
                        }

                        &.location::before {
                            background-image: url(../../../images/about/location-icon.png);
                        }

                        &.favorite::before {
                            background-image: url(../../../images/about/heart-icon.png);
                        }

                        &.edit::before {
                            background-image: url(../../../images/about/edit-icon.png);
                        }
                    }
                }
            }
        }
    }
}
