.about {
    padding-top: 116px;

    .wrap {

        & .content {
            display: flex;
            justify-content: center;

            .img {
                position: relative;
                width: 50%;
                margin-right: 0;

                img {
                    height: initial;
                }
            }

            .info {

                h1 {
                    margin-left: 10px;
                }

                & > p {
                    margin-left: 10px;
                }

                & .list {
                    grid-column-gap: 20px;
                    margin-left: 0;
                }
            }
        }
    }
}
