.about {
    padding-top: 39px;

    .wrap {
        display: flex;
        flex-direction: column;

        & > .head {
            padding-bottom: 35px;

            h2 {
                margin-bottom: 11px;
                transform: translateX(0);
                font-family: $ral;
                font-size: 27px;
                font-weight: 600;

                span.green {
                    color: $color-3;
                }
            }

            .icon {
                transform: translateX(0);
            }
        }

        & .content {
            display: none;
        }

        & .content-tablet-mobile {
            display: flex;
            flex-direction: column;
            align-items: center;

            .img {
                width: 280px;
                height: 207px;
                margin-right: 0;
                margin-bottom: 19px;
            }

            .img::before {
                content: '';
                display: block;
                position: absolute;
                width: 280px;
                height: 207px;
                background-color: $color-1;
            }

            & .info {
                width: 280px;

                h1 {
                    padding-bottom: 12px;
                    border-bottom: solid $color-8 1px;
                    font-family: $ral;
                    font-size: 16px;
                    font-weight: 600;
                    word-spacing: -2.8px;
                }

                p {
                    display: none;
                    margin-bottom: 36px;
                    padding-top: 9px;
                    font-family: $sans;
                    font-size: 13px;
                    line-height: 24px;
                }

                & > .mobile-text {
                    display: block;
                }

                & .list {
                    display: flex;
                    flex-direction: column;

                    & .card {
                        width: 100%;
                        font-family: $sans;

                        h2 {
                            display: none;
                        }

                        & > p {
                            display: none;
                            margin-top: -3.6px;
                            margin-bottom: 20px;
                            padding-top: 0;
                            padding-left: 32px;
                            font-size: 13px;
                            line-height: 24px;
                        }

                        .mobile-text {
                            display: block;
                        }

                        p:first-child {
                            margin-bottom: 37px;
                            padding-left: 0;
                        }

                        &::before {
                            content: '';
                            display: block;
                            width: 16px;
                            height: 16px;
                            margin-right: 10px;
                            float: left;
                            background-color: $color-2;
                            background-image: url(/images/about/check-icon.png);
                            background-repeat: no-repeat;
                            background-position: center;
                            background-size: cover;
                        }
                    }
                }
            }
        }
    }
}
