.about {
    padding-top: 116px;

    .wrap {
        display: flex;
        flex-direction: column;

        & .content {
            display: none;
        }

        & .content-tablet-mobile {
            display: flex;
            flex-direction: column;
            align-items: center;

            .img {
                width: 280px;
                height: 207px;
                margin-right: 0;
            }

            .img::before {
                content: '';
                display: block;
                position: absolute;
                width: 280px;
                height: 207px;
                background-color: $color-1;
            }

            & .info {
                width: 280px;

                h1 {
                    margin-bottom: 23px;
                    font-family: $ral;
                    font-size: 31px;
                    font-weight: 600;
                    word-spacing: -4.8px;
                }

                p {
                    margin-bottom: 47px;
                    font-family: $sans;
                    font-size: 14px;
                    line-height: 27px;
                }

                & .list {
                    display: flex;
                    flex-direction: column;

                    & .card {
                        width: 100%;
                        font-family: $sans;

                        h2 {
                            display: none;
                        }

                        p {
                            padding-left: 40px;
                            font-size: 13px;
                        }

                        p:first-child {
                            padding-left: 0;
                        }

                        &::before {
                            content: '';
                            display: block;
                            width: 16px;
                            height: 16px;
                            margin-right: 27px;
                            float: left;
                            background-color: $color-2;
                            background-image: url(../../../images/about/Check-Icon.png);
                            background-repeat: no-repeat;
                            background-position: center;
                            background-size: cover;
                        }
                    }
                }
            }
        }
    }
}
