.about {
    padding-top: 74px;

    .wrap {
        display: flex;
        flex-direction: column;

        & .content {
            display: none;
        }

        & .head {
            margin: 0 auto;
            padding-bottom: 59px;

            h2 {
                margin-bottom: 15px;
                transform: translateX(0);
                font-family: $ral;
                font-size: 28.88px;
                font-weight: 600;

                span.green {
                    color: $color-3;
                }
            }

            & .icon {
                position: relative;
                width: 16px;
                height: 17px;
                margin: 0 auto;
                transform: translateX(0);
                background-image: url(../../../images/about/Speak-Icon.png);
                background-size: cover;
            }

            & .icon::after {
                content: '';
                display: inline-block;
                position: absolute;
                right: -44px;
                bottom: 6px;
                width: 37px;
                height: 1.1px;
                background-color: $color-5;
            }

            & .icon::before {
                content: '';
                display: inline-block;
                position: absolute;
                bottom: 6px;
                left: -48px;
                width: 37px;
                height: 1.1px;
                background-color: $color-5;
            }
        }

        & .content-tablet-mobile {
            display: flex;
            flex-direction: column;
            align-items: center;

            .img {
                width: 718px;
                height: 421px;
                margin-right: 0;
            }

            .img::before {
                content: '';
                display: block;
                position: absolute;
                width: 718px;
                height: 421px;
                background-color: $color-1;
            }

            & .info {
                width: 718px;
                padding-top: 29px;

                h1 {
                    margin-bottom: 17px;
                    padding-bottom: 20px;
                    border-bottom: solid $color-8 1px;
                    font-family: $ral;
                    font-size: 25px;
                    font-weight: 600;
                    word-spacing: -4.8px;
                }

                & > p {
                    margin-bottom: 38px;
                    font-family: $sans;
                    font-size: 13px;
                    line-height: 23px;
                }

                & > .mobile-text {
                    display: none;
                }

                & .list {
                    display: flex;
                    flex-direction: column;

                    & .card {
                        width: 100%;
                        font-family: $sans;

                        .mobile-text {
                            display: none;
                        }

                        h2 {
                            display: none;
                        }

                        p {
                            margin-bottom: 23px;
                            padding-right: 160px;
                            padding-left: 31px;
                            font-size: 13px;
                            line-height: 21px;
                        }

                        &::before {
                            content: '';
                            display: block;
                            width: 16px;
                            height: 16px;
                            margin-right: 15px;
                            float: left;
                            background-color: $color-2;
                            background-image: url(../../../images/about/Check-Icon.png);
                            background-repeat: no-repeat;
                            background-position: center;
                            background-size: cover;
                        }
                    }
                }
            }
        }
    }
}
