.header {
    width: 100%;
    height: 101px;
    background: $color-1;
    color: $color-2;

    & > .wrap {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        height: 100%;

        .logo {
            // transform: translateX(-21px);

            img {
                width: 27px;
                height: 41px;
                float: left;
            }

            h1 {
                font-family: $ral;
                font-size: 36px;
                font-weight: 300;

                &::before {
                    content: '';
                    display: inline-block;
                    width: 27px;
                    height: 41px;
                    background-image: url(../../../images/header/logo-p.png);
                    background-size: cover;
                    vertical-align: baseline;
                }
            }
        }

        nav {
            // margin-left: 210px;
            clear: both;
            // transform: translateX(78px);

            div {
                display: none;
            }

            li {
                margin-right: 40px;
                float: left;

                a {
                    color: $color-2;
                    font-family: $sans;
                    font-size: 14px;
                    text-decoration: none;
                }
            }
        }
    }
}
