.header {
    height: 67px;

    & > .wrap {
        justify-content: space-between;
        width: 100%;
        padding: 0 3px;

        & > a {
            padding-left: 18px;
            font-size: 27.22px;

            &::before {
                content: '';
                display: inline-block;
                width: 20px;
                height: 31px;
                margin-right: -8px;
                background-image: url(/images/header/logo-p.png);
                background-size: cover;
                vertical-align: baseline;
            }
        }

        nav {
            margin-right: 0;
            margin-left: 0;

            ul {
                display: none;
            }

            div {
                display: flex;
                position: relative;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 48px;
                height: 31px;
                transform: translateX(7px);
                background-color: $color-3;

                &::before {
                    content: '';
                    display: block;
                    position: absolute;
                    width: 40px;
                    height: 23px;
                    border: 2px solid $color-2;
                }

                span {
                    display: block;
                    width: 22px;
                    height: 2px;
                    margin-top: 3px;
                    margin-left: -2px;
                    background-color: $color-2;
                }
            }
        }
    }
}
